<!--<p>obrazac-io-details works!</p>-->

<!--&lt;!&ndash;ObrazacIO&ndash;&gt;-->
<!--<nz-table-->
<!--        [nzData]="obrazacIoList"-->
<!--        *ngIf="obrazacIoList.length > 0"-->
<!--        [nzFrontPagination]="false" [nzShowPagination]="false"-->
<!--&gt;-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>redBrojAkt</th>-->
<!--        <th>funkKlas</th>-->
<!--        <th>konto</th>-->
<!--        <th>izvorFin</th>-->
<!--        <th>izvorFinPre</th>-->
<!--        <th>plan</th>-->
<!--        <th>izvrsenje</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let obrazac of obrazacIoList">-->
<!--        <td>{{ obrazac.redBrojAkt }}</td>-->
<!--        <td>{{ obrazac.funkKlas }}</td>-->
<!--        <td>{{ obrazac.konto }}</td>-->
<!--        <td>{{ obrazac.izvorFin }}</td>-->
<!--        <td>{{ obrazac.izvorFinPre }}</td>-->
<!--        <td>{{ obrazac.plan }}</td>-->
<!--        <td>{{ obrazac.izvrsenje }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</nz-table>-->
