<p>zak-list-details works!</p>

<!--&lt;!&ndash;ZakljucniList&ndash;&gt;-->
<!--<nz-table-->
<!--  [nzData]="zakLists"-->
<!--  *ngIf="zakLists.length > 0"-->
<!--  [nzTitle]="stavke"-->
<!--  #fixedTable-->
<!--  [nzFrontPagination]="false" [nzShowPagination]="false"-->
<!--&gt;-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Konto</th>-->
<!--    <th>dugujePs</th>-->
<!--    <th>potrazujePs</th>-->
<!--    <th>dugujePr</th>-->
<!--    <th>potrazujePr</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let obrazac of zakLists">-->
<!--    <td>{{ obrazac.konto }}</td>-->
<!--    <td>{{ obrazac.dugujePs | number:'1.2-2' }}</td>-->
<!--    <td>{{ obrazac.potrazujePs | number:'1.2-2' }}</td>-->
<!--    <td>{{ obrazac.dugujePr | number:'1.2-2' }}</td>-->
<!--    <td>{{ obrazac.potrazujePr | number:'1.2-2' }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</nz-table>-->
