<!--<app-lay-out>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</app-lay-out>-->

<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>
        <img src="assets/APV.png" alt="APV Logo" class="header-image" />
      </li>
      <li nz-menu-item>
        <app-dropdown />
      </li>

      <li nz-menu-item>
        <app-drop-odobravanje></app-drop-odobravanje>
      </li>

      <li nz-menu-item>
        <app-drop-overavanje />
      </li>

      <li nz-menu-item>
        <app-drop-storno />
      </li>

      <li nz-menu-item>
        <app-download />
      </li>

      <li nz-menu-item>
        <button nz-button nzGhost (click)="onLogout()" class="logout-button">
          Odjavi se
        </button>
      </li>

      <li nz-menu-item>
        <button nz-button nzGhost class="logout-button">
          <a
            [routerLink]="['/users']"
            class="nav-link px-2 text-white"
            *ngIf="role == 0"
            >Korisnici</a
          >
        </button>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
<!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <nz-breadcrumb-item>{{indirektni}}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{kvartal}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <img src="assets/APV.png" alt="APV Logo" class="footer-image" />
  </nz-footer>
</nz-layout>
